#body {
    align-items: center;
    margin-left: 400px;
}

.login {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background: url('https://tse1.mm.bing.net/th/id/OIP.VXabTRttc16PmPmo7-8WcgHaEK?rs=1&pid=ImgDetMain&o=7&rm=3');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 75);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0, 5);
    margin-bottom: 60px;
}

#use {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

label {

    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    width: 300px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

button {
    background: rgb(45, 126, 231);
    height: 40px;
    width: 300px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.3);
}